body {
  background: #efefef;
  font-family: "Roboto Mono", "Courier", fixed;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3em;
  padding: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.admin {
  background: red;
  color: white;
  padding: 8px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  a {
    color: white;
    font-weight: bold;
  }
}

a {
  color: red;
}

.btn {
  background: red;
  border-radius: 5px;
  border: 2px solid darken(red, 20%);
  color: white;
  font-weight: bold;
  font-family: "Roboto Mono", "Courier", fixed;
  font-size: 1em;
  padding: 5px 15px;
  text-decoration: none;
  box-shadow: 0 2px 0 darken(red, 20%);
  cursor: pointer;
  &.btn-blue {
    background: blue;
    border: 2px solid darken(blue, 20%);
    box-shadow: 0 2px 0 darken(blue, 20%);
    .progress {
      background: darken(blue, 20%) !important;
    }
  }
}

.btn-progress {
  position: relative;
  &:disabled {
    .text {
      opacity: 0.5;
    }
    cursor: not-allowed;
    .progress {
      position: absolute;
      display: block;
      background: darken(red, 20%);
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .text {
    display: block;
    position: relative;
    z-index: 100;
  }
}

#infected {
  background: red;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: bold;
  color: white;
}

#viral_knowledge {
  background: blue;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: bold;
  color: white;
}

.start {
  h1,
  .data,
  .message p,
  .treat {
    display: none;
  }
  .name {
    display: none;
    input {
      font-family: "Roboto Mono", "Courier", fixed;
      border: 0;
      font-size: 14px;
      outline: 0;
      padding: 10px 15px;
      border-bottom: 1px solid black;
      background: #fafafa;
    }
  }
}

.main {
  display: none;

  .actions,
  .out_of_hand {
    display: none;
  }
}

.progress {
  background: #ffffff;
  margin-bottom: 8px;
  border-radius: 2px;
  .progress-bar {
    background: blue;
    height: 20px;
    border-radius: 2px;
  }
}
